* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
}

:root {
  --herocolor: #cb1da0;
  --fondolanding: #120f0fa3;
  --textcolor: #d1d1d1;
  --fondopoema: #1c262b;
  --fondocruz: #f0f0f055;
}

/*contenedor de las barras del menú hamburguesa*/
.burger_icon {
  display: block;
  cursor: pointer;
  position: fixed;
  top: 5%;
  right: 3%;
  z-index: 100;
}

body {
  overflow-x: hidden;
}
main {
  background-image: url('img/road.jpg');
  position: fixed;

  width: 100%;
  height: 100%;
  background-size: 100% 100%;
}

/*barras menú hamburguesa*/
.icono_barras span {
  display: block;
  width: 40px;
  height: 5px;
  margin-bottom: 8px;
  background: var(--herocolor);
  border-radius: 3px;
  transition: all 1s;
}
/*cruz menú hamburguesa*/
.icono_cruz span {
  display: block;
  width: 40px;
  height: 5px;
  margin-bottom: 8px;
  border-radius: 3px;
  transition: all 1s;
  background: var(--textcolor);
}

.icono_cruz span :nth-child(1) {
  /* girar 45º */
}
.icono_cruz span :nth-child(3) {
  /* girar 45º */
}
/*panel central landing page*/
.herotext {
  background-color: var(--fondolanding);
  border: 5px solid var(--herocolor);
  border-radius: 15px;
  width: 80%;
  margin: auto;
  position: relative;
  top: 15%;
  padding: 4% 8% 10%;
}

/*título de la landing page*/
.titleLanding {
  font-family: 'Lexend Mega', sans-serif;
  font-weight: normal;
  font-size: 4.5vw;
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 5px solid var(--herocolor);
  color: var(--herocolor);
}

/*texto del párrafo de la landing page*/
.textP {
  font-family: 'Habibi', serif;
  font-size: 1.7rem;
  color: var(--herocolor);
  padding: 4% 14%;
  text-align: center;
}

/* hecho */

/*panel izquierdo*/
.izquierda {
  top: 0;
  width: 40%;
  height: 100%;
  background-color: var(--fondopoema);
  position: absolute;
  /* transición */
  transition: all 1s;
  padding-top: 10%;
}
.izquierda_on {
  left: 0;
}
.izquierda_off {
  left: -100%;
}

/*texto del lateral izquierdo*/
.izquierdaText {
  font-family: 'Habibi', serif;
  font-weight: normal;
  font-size: 1.3rem;
  text-align: center;
  color: var(--textcolor);
}

/*panel derecho*/
.derecha {
  top: 0;
  width: 60%;
  height: 100%;
  background-image: url('img/background.jpg');
  position: absolute;
  text-align: center;
  padding: 5%;
  /* transición */
  transition: all 1s;
}

.derecha_on {
  right: 0;
}
.derecha_off {
  right: -100%;
}
/*formato texto  panel derecho*/
.derechaText {
  text-decoration: none;
  font-family: 'Lexend Mega', sans-serif;
  font-size: 2.5rem;
  font-weight: 200;
  text-align: center;
  line-height: 5rem;
  color: var(--textcolor);
}
.derechaAnchor a {
  color: var(--textcolor);
}

.derechaAnchor li {
  padding-bottom: 5%;
}
.derechaAnchor {
  font-size: 3rem;
  font-family: 'Lexend Mega', sans-serif;
  font-weight: 100;
  padding-top: 10%;
}
.derechaAnchor li :hover {
  background-color: var(--fondopoema);
  border-radius: 20px;
  border: var(--textcolor) solid 2px;
  padding: 1%;
}

h2,
h3 {
  font-weight: 700;
}
h3 {
  font-size: 2rem;
}
