* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
  font-size: 16px;
}

:root {
  /*FONTS*/
  --title_Font: 'Permanent Marker';
  --p_a_Font: 'cantarell';

  /*COLORS*/
  --color_text: hsl(0, 0%, 96%);
  --color_bcg: #ff685a;
  --color_title: rgb(244, 226, 30);
}

body {
  background-image: url(media/background.png),
    linear-gradient(180deg, #7b1a09e6 0%, #c72828e6 50%, #ce8f11e6 100%);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.container {
  position: relative;
  margin-top: 15%;
}

.title {
  margin: auto;
  margin-top: 2%;
  font-size: 3rem;
  font-family: var(--title_Font);
  text-align: center;
  background-color: var(--color_bcg);
  color: var(--color_title);
  width: 70%;
  padding: 2%;
  border-radius: 10px;
}

.pral {
  border: black 5px solid;
  position: fixed;
  top: 3%;
  left: 15%;
}

.sec {
  position: sticky;
  top: 12%;
}
main {
  background-image: url(media/campero.jpg);
  color: var(--color_text);
  font-family: var(--p_a_Font);
  width: 70%;
  margin: auto;
  line-height: 3rem;
  padding: 2% 4%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-radius: 10px;
}

main p {
  font-size: 1.5rem;
  padding: 2%;
}

footer {
  width: 100%;
  height: 8%;
  background-color: rgba(220, 220, 220, 0.5);
  text-align: center;
  position: fixed;
  top: 90%;
  font-size: 2rem;
  font-family: var(--p_a_Font);
  color: var(--color_text);
}

/* menu dropdown */

.menu_dropdown {
  background-color: #daff7d31;
  position: relative;
  z-index: 100;
  top: -100%;
  left: 100%;
  text-align: center;
  background-color: rgb(50, 19, 37);
  transition: all 1s;
  background-image: url(img/texture.png),
    linear-gradient(180deg, #321325e6 0%, #5f0f40e6 50%, #ce4a11e6 100%);
}

#cbburger:checked + .burguer_icon + .menu_dropdown {
  left: 80%;
  position: relative;
}

.menu_dropdown ul {
  padding-top: 50%;
  height: 100%;
  line-height: 5vh;
}

.menu_dropdown a {
  color: var(--color_list_a);
  font-family: var(--p_a_Font);
  font-size: 1.4rem;
  transition: 0.3s;
}

.menu_dropdown a:hover {
  color: var(--color_title);
  font-family: var(--p_a_Font);
  text-decoration: underline;
  letter-spacing: 5px;
}

.menu_dropdown img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-top: 20%;
  position: relative;
}

/* icono de la hamburguesa  */
.burguer_icon {
  display: block;
  width: 50px;
  height: 50px;
  position: absolute;
  z-index: 900;
  top: 5%;
  right: 5%;
}

/* checkbox */

input[type='checkbox'] {
  position: absolute;
  top: 5%;
  right: 5%;
  z-index: 1000;
  width: 50px;
  height: 50px;
  opacity: 0;
  cursor: pointer;
}

.line {
  position: absolute;
  height: 6px;
  width: 100%;
  border-radius: 3px;
  background: var(--color_barBurger_close);
  transition: 0.5s;
}

/* posicionamiento de las lineas */
.line:nth-child(1) {
  top: 15px;
}
.line:nth-child(2) {
  top: 30px;
}
.line:nth-child(3) {
  top: 45px;
}

/* animación en checked */
#cbburger:checked + .burguer_icon .line:nth-child(1) {
  transform: translateY(15px) rotate(45deg);
  background: var(--color_barBurger_open);
}
#cbburger:checked + .burguer_icon .line:nth-child(2) {
  opacity: 0;
  width: 0;
}

#cbburger:checked + .burguer_icon .line:nth-child(3) {
  transform: translateY(-15px) rotate(-45deg);
  background: var(--color_barBurger_open);
}
