* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
  font-size: 16px;
}

:root {
  /*FONTS*/
  --title_Font: 'Permanent Marker';
  --p_a_Font: 'cantarell';

  /*COLORS*/
  --color_text: hsl(0, 0%, 96%);
  --color_bcg: #ff685a;
  --color_title: rgb(244, 226, 30);
}

body {
  background-image: url(media/background.png),
    linear-gradient(180deg, #7b1a09e6 0%, #c72828e6 50%, #ce8f11e6 100%);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.container {
  position: relative;
  margin-top: 15%;
}

.title {
  margin: auto;
  margin-top: 2%;
  font-size: 3rem;
  font-family: var(--title_Font);
  text-align: center;
  background-color: var(--color_bcg);
  color: var(--color_title);
  width: 70%;
  padding: 2%;
  border-radius: 10px;
}

.pral {
  border: black 5px solid;
  position: fixed;
  top: 3%;
  left: 15%;
}

.sec {
  position: sticky;
  top: 12%;
}
main {
  background-image: url(media/campero.jpg);
  color: var(--color_text);
  font-family: var(--p_a_Font);
  width: 70%;
  margin: auto;
  line-height: 3rem;
  padding: 2% 4%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-radius: 10px;
}

main p {
  font-size: 1.5rem;
  padding: 2%;
}

footer {
  width: 100%;
  height: 8%;
  background-color: rgba(220, 220, 220, 0.5);
  text-align: center;
  position: fixed;
  top: 90%;
  font-size: 2rem;
  font-family: var(--p_a_Font);
  color: var(--color_text);
}
