* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  /* Fonts */
  --fontTitle: 'Atma';
  --fontText: 'Arvo';

  /* colors Block and titles asdas */
  --greyBlock: #80808080;
  --whiteTitles: #fff5fe91;

  /* color */
  --purpleColor: #786dce90;
  --darkGreenColor: #0d1f22;
  --softGreen: #a3b4a2;
  --linkSpan: #8b0000;
}
/*   Nota: modificar la transparencia de los colores donde corresponda */

body {
  /* Patrón de las cajas flotantes: seleccionar uno que encaje bien con el fondo en pattern monster. */

  background-color: #e5e5f7;
  background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='150' height='130' patternTransform='scale(1) rotate(120)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(224, 0%, 100%, 1)'/><path d='m34.52 0 2.98 5.16L40.48 0Zm83.34 0-3.57 6.19h21.42l-3.57-6.2Zm-100 0-3.57 6.19H35.7l-3.57-6.2Zm116.66 0 2.98 5.16L140.48 0ZM42.86 0l-3.57 6.19H60.7l-3.57-6.2Zm25 0-3.57 6.19H85.7l-3.57-6.2Zm16.66 0 2.98 5.16L90.48 0Zm25 0 2.98 5.16L115.48 0zm29.77 8.25 5.35 9.29 5.36 9.28V8.25ZM0 8.25v18.57l5.36-9.28 5.35-9.29Zm14.29 0 5.35 9.29L25 26.82l5.36-9.28 5.35-9.29H25Zm25 0 5.35 9.29L50 26.82l5.36-9.28 5.35-9.29H50Zm50 0 5.35 9.29 5.36 9.28 5.36-9.28 5.35-9.29H100ZM12.5 9.28l-5.36 9.29-5.35 9.28H23.2l-5.35-9.28Zm75 0-5.36 9.29-5.35 9.28H98.2l-5.35-9.28Zm25 0-5.36 9.29-5.35 9.28h21.42l-5.35-9.28Zm25 0-5.36 9.29-5.35 9.29h21.42l-5.35-9.29ZM26.79 29.92l5.35 9.28 5.36 9.29 5.36-9.29 5.35-9.28H37.5Zm100 0 5.35 9.28 5.36 9.29 5.36-9.29 5.35-9.28H137.5Zm-125 0 5.35 9.28 5.36 9.29 5.36-9.29 5.35-9.28h-10.7Zm100 0 5.35 9.28 5.36 9.3 5.36-9.3 5.35-9.28H112.5ZM75 30.95l-5.36 9.29-5.35 9.28H85.7l-5.35-9.28Zm-25 0-5.36 9.29-5.35 9.28H60.7l-5.35-9.28Zm50 0-5.36 9.29-5.35 9.28h21.42l-5.35-9.28Zm25 0-5.36 9.29-5.35 9.28h21.42l-5.35-9.28ZM0 51.6v18.57l10.71-18.57zm14.29 0L25 70.16l10.71-18.57h-10.7Zm25 0L50 70.16l10.71-18.57H50Zm25 0 10.7 18.57 10.72-18.57zm75 0 10.7 18.57V51.59ZM12.5 52.62 1.79 71.19H23.2L12.5 52.62Zm100 0-10.71 18.57h21.42L112.5 52.62zm-25 0L76.79 71.19H98.2L87.5 52.62zm50 0-10.71 18.57h21.42L137.5 52.62ZM76.79 73.25l5.35 9.29 5.36 9.28 5.36-9.28 5.35-9.29H87.5Zm-75 0 5.35 9.29 5.36 9.28 5.36-9.28 5.35-9.29H12.5Zm50 0 5.35 9.29 5.36 9.28 5.36-9.28 5.35-9.29H62.5Zm75 0 5.35 9.29 5.36 9.28 5.36-9.28 5.35-9.29H137.5zm23.2 1.03-5.35 9.29-5.35 9.28h10.7zM0 74.28v18.57h10.71l-5.35-9.28Zm100 0-5.36 9.29-5.35 9.28h21.42l-5.35-9.28zm-75 0-5.36 9.29-5.35 9.29H35.7l-5.35-9.3Zm50 0-5.36 9.29-5.35 9.29H85.7l-5.35-9.3zM39.29 94.92l5.35 9.28L50 113.5l5.36-9.29 5.35-9.28H50ZM0 94.92v18.57l5.36-9.29 5.35-9.28zm89.29 0 5.35 9.28 5.36 9.29 5.36-9.29 5.35-9.28H100Zm25 0 5.35 9.28 5.36 9.29 5.36-9.29 5.35-9.28H125zm25 0 5.35 9.28 5.36 9.29V94.92zm-51.8 1.03-5.35 9.29-5.35 9.28H98.2l-5.35-9.28zm-74.99 0-5.36 9.29-5.35 9.28H23.2l-5.35-9.28Zm25 0-5.36 9.29-5.35 9.28H48.2l-5.35-9.28Zm100 0-5.36 9.29-5.35 9.28h21.42l-5.35-9.28zM26.79 116.58l5.35 9.29 2.38 4.13h5.96l2.38-4.13 5.35-9.29H37.5Zm100 0 5.35 9.29 2.38 4.13h5.96l2.38-4.13 5.35-9.29H137.5Zm-50 0 5.35 9.3 2.38 4.12h5.96l2.38-4.13 5.35-9.28H87.5zm25 0 5.35 9.3 2.38 4.12h5.96l2.38-4.13 5.35-9.28H112.5ZM25 117.63l-5.36 9.28-1.78 3.1h14.28l-1.78-3.1zm100 0-5.36 9.28-1.78 3.1h14.28l-1.78-3.1zm-75 0-5.36 9.28-1.78 3.1h14.28l-1.78-3.1zm25 0-5.36 9.28-1.78 3.1h14.28l-1.78-3.1-5.36-9.28z'  stroke-width='1' stroke='none' fill='hsla(259, 39%, 87%, 1)'/><path d='M0 0v6.19h10.71L7.14-.01Zm9.52 0 2.98 5.16L15.48 0Zm50 0 2.98 5.16L65.48 0zm33.34 0-3.57 6.19h21.42l-3.57-6.2Zm50 0-3.57 6.19h10.7v-6.2ZM64.29 8.25l5.35 9.29L75 26.82l5.36-9.28 5.35-9.29Zm50 0 5.35 9.29 5.36 9.28 5.36-9.28 5.35-9.29H125ZM37.5 9.28l-5.36 9.29-5.35 9.29H48.2l-5.35-9.29Zm25 0-5.36 9.29-5.35 9.29H73.2l-5.35-9.29ZM51.8 29.92l5.35 9.29 5.36 9.28 5.36-9.28 5.35-9.29H62.5Zm25 0 5.35 9.29 5.36 9.28 5.36-9.28 5.35-9.29H87.5ZM0 30.95v18.57h10.71l-5.35-9.28Zm25 0-5.36 9.29-5.35 9.28H35.7l-5.35-9.28Zm125 0-5.36 9.29-5.35 9.28h10.7zM114.29 51.6l10.7 18.57 10.72-18.57H125zm-25 0L100 70.16l10.71-18.57H100ZM37.5 52.62 26.79 71.19H48.2L37.5 52.62Zm25 0L51.79 71.19H73.2ZM26.79 73.25l5.35 9.29 5.36 9.28 5.36-9.28 5.35-9.29H37.5Zm75 0 5.35 9.29 5.36 9.28 5.36-9.28 5.35-9.29H112.5ZM50 74.3l-5.36 9.28-5.35 9.29H60.7l-5.35-9.29zm75 0-5.36 9.28-5.35 9.29h21.42l-5.35-9.29zM14.29 94.92l5.35 9.28 5.36 9.3 5.36-9.3 5.35-9.28H25Zm50 0 5.35 9.28L75 113.5l5.36-9.29 5.35-9.28Zm48.21 1.03-5.36 9.29-5.35 9.28h21.42l-5.35-9.28zm-50 0-5.36 9.29-5.35 9.28H73.2l-5.35-9.28zM1.8 116.6l5.35 9.28L9.52 130h5.96l2.38-4.13 5.35-9.28H12.5Zm50 0 5.35 9.28 2.38 4.13h5.96l2.38-4.13 5.35-9.28h-10.7ZM0 117.62V130h7.14l-1.78-3.1zm100 0-5.36 9.28-1.78 3.1h14.28l-1.78-3.1zm50 0-5.36 9.28-1.78 3.1H150z'  stroke-width='1' stroke='none' fill='hsla(272, 60%, 92%, 1)'/><path d='m132.14 0 3.57 6.19H114.3l3.57-6.2h14.28zM90.48 0 87.5 5.16 84.52 0h5.96zM125 30.95l5.36 9.29 5.35 9.28H114.3l5.35-9.28ZM1.79 29.92H23.2l-5.35 9.28-5.36 9.29-5.36-9.29-5.35-9.28ZM25 74.28l5.36 9.29 5.35 9.28H14.3l5.35-9.28zm51.79-1.03H98.2l-5.35 9.29-5.36 9.28-5.36-9.28-5.35-9.29ZM125 117.62l5.36 9.28 1.78 3.1h-14.28l1.78-3.1 5.36-9.28zm-48.21-1.04H98.2l-5.35 9.29-2.38 4.13h-5.96l-2.38-4.13zM62.5 9.28l5.36 9.29 5.35 9.28H51.8l5.35-9.28 5.36-9.29ZM14.29 8.25H35.7l-5.35 9.29L25 26.82l-5.36-9.28-5.35-9.29ZM62.5 52.62l5.36 9.28 5.35 9.29H51.8l5.35-9.29 5.36-9.28zm26.79-1.04h21.42l-5.35 9.29-5.36 9.29-5.36-9.29-5.35-9.29ZM87.5 95.95l5.36 9.28 5.35 9.29H76.8l5.35-9.29 5.36-9.28zm-73.21-1.03H35.7l-5.35 9.28L25 113.5l-5.36-9.29-5.35-9.28Z'  stroke-width='1' stroke='none' fill='hsla(218, 100%, 94%, 1)'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");
  height: 100vh;
}

.greyContainer {
  background-color: var(--greyBlock);
  width: 94%;

  margin: auto;
  padding-top: 3vh;
}

/* título 1 - header- backgroundTitle*/

.backgroundTitle {
  background-color: var(--purpleColor);
  border: black solid 0.5rem;
  width: 90%;
  margin: auto;
  padding-top: 1vh;
  border-radius: 0.3rem;
}

h1 {
  font-family: 'atma';
  font-weight: 600;
  text-align: center;
  font-size: 4rem;
}

/* título 2 - main- titleSect1*/

.sect1 {
  padding: 4vh;
  width: 100%;
  margin: auto;
}

.titleSect1 {
  background-color: var(--whiteTitles);
  border: black solid 0.2rem;
  width: 90%;
  margin: auto;
  padding: 3vh;
  border-radius: 0.3rem;
  font-family: 'atma';
  font-weight: 500;
  font-size: 2.5rem;
}

/* contenedor cajas */
.sect1BOXdiv {
  padding-top: 5vh;
  margin: auto;
  width: 90%;
}

.sect1BOXdiv::after {
  content: '.';
  visibility: hidden;
  height: 0;
  display: block;
  clear: both;
}
/* propiedades de los pingus */

.s1img {
  width: 30%;
  height: 30%;
  float: left;
  margin: 1vw;
}

.sect1 p {
  text-align: center;
  margin-left: 0;
  font-size: 1rem;
  font-family: var(--fontText);
  text-align: justify;
}
.spanTitle {
  font-size: 1.2em;
  color: #8b0000;
}
/* Propiedades comunes para las cajas de la sect 1  */

.sect1BOX {
  background-color: rgba(84, 186, 174, 0.513);
  background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='100' height='100' patternTransform='scale(3) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(0, 0%, 100%, 0)'/><path d='M100 20.234v41.641q-6.719 7.656-10.234 17.812-3.36 9.766-3.125 20.313h-3.438v-4.531q0-2.657.39-4.532l.626-3.359.703-3.281 2.265-7.656q1.329-4.22 2.813-7.344.781-1.719 2.812-4.453l2.891-4.297.86-2.578.312-2.735q.156-5-.547-13.203l-2.344-20.937Q92.656 8.516 92.422 0h6.797q-.078 6.172.078 10.156.156 5.547.703 10.078m0 49.532v20.468q-.469 2.11-.703 4.844L99.063 100H92.5l-.078-8.594q0-5.156.547-8.515.469-3.047 2.89-6.797L100 69.766M79.219 100h-3.672l.39-8.36.938-8.359q1.016-6.953 1.875-10.781 1.328-5.86 3.36-10.313l2.5-6.015 1.562-6.328.547-5q.078-2.813-.703-4.844l-3.282-9.531-3.28-9.531q-1.876-6.094-2.735-10.313Q75.547 4.922 75.547 0h3.672q.078 8.516 2.422 17.031 2.343 8.282 6.718 15.782l-2.03-11.016-1.876-11.016-.86-5.312L83.126 0h3.516l.234 4.531.547 4.532 2.5 16.25 2.422 16.328q1.015 8.125.156 15.625l-.625 3.28q-.547 1.798-1.562 2.97l-1.875 1.953q-1.094 1.172-1.641 2.187-1.64 2.735-2.89 7.813l-2.423 8.047q-1.406 3.515-1.875 8.125-.39 3.125-.39 8.359m-6.406 0H64.53q-2.11-9.922-1.718-18.828.39-4.922 1.796-8.203l2.97-7.5q1.405-4.219 1.718-7.89.312-2.735-.39-5.313-.704-2.657-2.345-4.844-2.343-3.125-5.78-6.328l-.938 2.5-.86 2.656q-2.343 6.797-4.922 11.953-3.125 6.25-7.03 10.86-1.485 2.265-2.579 5.312-.781 2.344-1.484 5.781Q41.25 88.75 41.25 100h-6.484l.312-12.266q.39-6.718 1.64-12.265 1.72-7.344 4.844-11.407l2.344-2.5 2.344-2.5q2.5-2.968 3.906-6.875 1.328-3.671 1.485-7.734.156-5.156-.86-12.5L48.906 19.61Q47.578 8.516 47.97 0h10.078q-.625 12.188 1.875 22.11 2.422 9.218 8.515 16.25l5 5.234q3.047 3.203 4.375 5.781 2.657 4.922.938 12.266-1.016 4.609-3.906 10.859-1.172 2.578-1.797 5.86-.547 2.5-.781 6.093-.391 7.266.546 15.547m-14.765 0H47.969V89.453q.312-5.937 1.718-10.39 4.297-12.657 10.157-22.813l1.797-3.047 2.109-2.812q1.25 4.687-1.094 11.562-5.625 16.953-4.61 38.047m-29.296 0H17.969l.234-5.781.469-5.782L21.25 65.86l2.422-22.578q1.172-12.031-1.875-21.797-1.719 3.047-2.969 7.5l-2.031 7.813q-.469 1.719-.547 4.219l.078 4.218-.547 11.094-1.797 10.469Q12.5 74.062 12.11 77.266q-.39 2.734-.312 6.406l.234 6.406.39 5q.235 2.813.704 4.922H5.781V81.25l-.078-6.016Q1.563 81.797 0 89.844v-20.39q5.86-10.47 7.422-22.657 1.25-9.14.078-23.36L6.406 11.72Q5.86 4.844 5.781 0h7.344l1.406 11.328 1.094 11.328q1.25-2.422 1.797-6.015l.625-6.25.078-5.157L17.969 0h10.86q.077 2.969.702 6.953l1.172 6.797 1.64 11.094q.626 6.172.157 11.172-.547 4.297-2.031 9.687L27.5 55.078q-2.031 6.719-2.344 14.531-.078 3.75.625 8.36l1.563 8.203.703-2.422 4.531-18.672q2.344-10.312 3.594-18.828.625-3.984.625-9.062l-.313-9.141-1.093-13.984Q34.688 5.547 34.766 0h6.484q-.078 8.984 1.953 19.688l1.64 8.75q.938 5.078.938 8.75 0 3.828-1.015 7.5-.938 3.671-2.813 6.874-4.61 9.375-7.812 20.47-2.813 9.687-4.766 21.405-.703 3.75-.625 6.563M0 61.797V19.766l.781 4.375.703 4.453 2.344 13.984.235 1.563.234 2.343Q5.078 54.61 0 61.797M64.61 0h8.202q-.39 7.266.157 11.953l.86 4.531 1.25 4.532 3.593 13.672 3.36 13.671.546 2.657.156 2.656-2.343-6.406q-1.407-3.516-3.047-6.172l-4.14-6.64-4.298-6.563q-1.172-1.953-1.875-4.61-.547-1.875-.937-4.922Q64.844 9.453 64.609 0'  stroke-width='1' stroke='none' fill='hsla(66, 70%, 54%, 0.56)'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");
  border: black solid 0.2rem;
  width: 32%;
  height: 10%;
  border-radius: 0.3rem;
  float: left;
  overflow: hidden;
  padding: 2%;
}

.sect2 {
  clear: both;
  padding-top: 1vh;
  width: 100%;
}

.sect2::after {
  content: '.';
  visibility: hidden;
  height: 0;
  display: block;
  clear: both;
}

.titleSect2 {
  background-color: var(--whiteTitles);
  border: black solid 0.2rem;
  width: 85%;
  margin: auto;
  padding: 3vh;
  border-radius: 0.3rem;
  font-family: 'atma';
  font-weight: 500;
  font-size: 2.5rem;
}

.box1 {
  margin: 0 1% 0 1%;
}

.box2,
.box3 {
  margin: 0 1% 0 0;
}

.box4 {
  margin: 1% 1% 0 20%;
  clear: both;
}
.box5 {
  margin: 1% 0 0 1%;
}

/* sección 2 fila 1 */
h3 {
  font-family: var(--fontTitle);
  clear: both;
  text-align: center;
  color: var(--softGreen);
  font-size: 2rem;
  font-weight: 500;
}
.sect2 p {
  text-align: center;
  font-size: 1rem;
  font-family: var(--fontText);
  text-align: justify;
  line-height: 2rem;
}

.sect2raw1 {
  padding: 4vh;
  width: 100%;
  margin: auto;
}
/* cajas fila 1 */

.sect2raw1BOX {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    180deg,
    rgba(36, 36, 52, 0.8568181818181818) 0%,
    rgba(163, 180, 162, 0.7681818181818182) 20%
  );
  border: black solid 0.2rem;
  width: 20%;
  height: 60%;
  border-radius: 0.3rem;
  float: left;
  overflow: hidden;
  padding: 2%;
}

.s2img {
  width: 80%;
  height: 80%;
  display: block;
  margin: 10% auto;
}

/* sección 2 fila 2  */

.sect2raw2 {
  padding: 4vh;
  width: 100%;
  margin: auto;
}
