* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  height: 100vh;
  height: 100%;

  background: linear-gradient(
    -45deg,
    rgb(232, 95, 240),
    rgb(62, 180, 240),
    rgb(154, 240, 93),
    rgb(240, 165, 72)
  );
  animation: gradient 10s ease infinite;
  background-size: 400% 400%;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

h1 {
  /* Propiedades genéricas */
  font-family: 'Abril Fatface', cursive;
  font-size: 6em;
  margin: 2vh 3vw;
  text-align: center;

  /* Línea impostor */
  text-shadow: 1px 1px 0px white, -1px -1px 0px white, -1px 1px 0px white,
    1px -1px 0px white;
  /**/

  border: 6px solid black;
  background-color: rebeccapurple;
  animation: titulo 20s linear 2s infinite alternate-reverse backwards;
}

/*Animación título*/
@keyframes titulo {
  20% {
    background-color: darkmagenta;
  }

  40% {
    background-color: darkslategray;
  }

  60% {
    background-color: darkorange;
  }

  80% {
    background-color: crimson;
  }
  100% {
    background-color: darkblue;
  }
}

h2 {
  font-family: 'Bangers', cursive;
  background-color: crimson;
  border: 5px solid black;

  /*Línea borde chungo*/
  text-shadow: 1px 1px 0px white, -1px -1px 0px white, -1px 1px 0px white,
    1px -1px 0px white;

  margin: 2vh 35vw;
  padding: 0 1vw;
  font-size: 3.7em;

  transform: translate(-600px, 0px); /*Posición inicial*/

  text-align: center;
  animation: bloque 25s linear 2s infinite forwards normal;
}

/* animación bloque */

@keyframes bloque {
  16% {
    transform: translate(600px, 0px); /*Posición primera iteración*/
    background-color: darkred;
  }

  32% {
    transform: translate(600px, 0px) rotatez(180deg);
    background-color: orangered;
  }

  48% {
    transform: translate(0px, 500px) rotatey(180deg) rotatez(90deg);
    background-color: gold;
  }

  64% {
    transform: translate(600px, 600px) rotatez(180deg);
    background-color: darkgreen;
  }
  80% {
    transform: translate(-600px, 600px) rotatex(180deg);
    background-color: royalblue;
  }
  100% {
    background-color: darkorchid;
  }
}
